body{
    background-color: rgb(240, 240, 240);
}
section{
    width: 70vw;
    margin: auto;
}
.bigcontainer{
    
    text-align: center;
    margin: auto;
    background-color: white;
    width: 70vw;
    height: 100vh;
}

.hinput{

    width: 30vw;
    margin: auto;
    margin-top: 10px;
}
header{
    padding-top: 10px;
    padding-bottom: 1vh;
}
.mynav{

    margin: auto;
}

.dib{
    margin-top: 15vh;
}